.title{
  margin-block: 20px;
}
.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px;
   margin-left: 80px;
   margin-top: 20px;
  }
.Image{
    width: 100%;
    height: 400px;
}  
.comment-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .text-primary {
    color: #007ad9;
  }
.button{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}  

.pi-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

  /* .p-inputtext:enabled:focus{
    border-color: transparent;
  }
  .p-inputtext{
    border-color: red;
  } */