<!-- <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;">
  <button
    pButton
    label="Add Sub Category"
    icon="pi pi-plus"
    (click)="displayDialog = true"
    class="p-button-primary"
  ></button>

  <button
    pButton
    label="Back To List"
    icon="pi pi-arrow-left"
    [routerLink]="['/subcategories']"
    class="p-button-warning"
  ></button>
</div> -->

<!-- Dialog -->
<!-- <p-dialog
  header="Add Sub Category"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '400px' }"
  [closable]="true"
  [baseZIndex]="10000"
>
  <div class="p-fluid" style="padding-top: 1rem;">
    <div class="p-field" style="margin-bottom: 1rem;">
      <label for="add-code" class="p-mb-1">Code </label>
      <input id="add-code" type="text" pInputText [(ngModel)]="newSubCategory.code" />
    </div>

    <div class="p-field" style="margin-bottom: 1rem;">
      <label for="add-name" class="p-mb-1">Name </label>
      <input id="add-name" type="text" pInputText [(ngModel)]="newSubCategory.name" />
    </div>

    <div class="p-field" style="margin-bottom: 1rem;">
      <label for="add-category" class="p-mb-1">Category </label>
      <input id="add-category" type="text" pInputText [(ngModel)]="newSubCategory.category" />
    </div>

    <div class="p-field" style="margin-bottom: 1rem;">
      <label for="add-quantity" class="p-mb-1">Quantity </label>
      <input id="add-quantity" type="number" pInputText [(ngModel)]="newSubCategory.quantity" />
    </div>

    <div style="text-align: right; margin-top: 1.5rem;">
      <button
        pButton
        label="Add"
        icon="pi pi-check"
        (click)="addSubCategory(); displayDialog = false"
        class="p-button-success"
      ></button>
      <button
        pButton
        label="Cancel"
        icon="pi pi-times"
        (click)="displayDialog = false"
        class="p-button-secondary"
        style="margin-left: 0.5rem;"
      ></button>
    </div>
  </div>
</p-dialog> -->
