.navbar {
  position: relative;
}
.navbar::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 0;
  width: calc(100% - 40px);
  height: 5px;
  background-color: #8b8b8b;
  border-radius: 3rem;
  z-index: 1;
}
