<!-- <p-toolbar
  [style]="{ 'padding': '0' }"
  class="bg-white shadow-md flex items-center w-full min-h-[64px] navbar border-0"
> -->
  <!-- <ng-template #end> -->
    <div class="bg-white shadow-md flex items-center w-full min-h-[64px] navbar border-0 !p-2 ">
    <div class="flex items-center gap-4 pl-8 flex-1 !mx-5">
      <!-- Logo + Title -->
      <div class="flex items-center gap-2">
        <img
          src="https://img.freepik.com/free-psd/elegant-armchair-coffee-table-set-modern-comfort-style_191095-80516.jpg"
          width="48"
          height="48"
          alt="Furniture Logo"
          class="object-cover"
        />
        <span class="text-xl font-semibold">
          FURNITURE<span class="text-pink-600">APP</span>
        </span>
      </div>
      <p-splitButton
        label="New"
        icon="pi pi-plus"
        [model]="newMenuItems"
        severity="secondary"
        class="bg-transparent px-3 py-2 rounded-md ml-6"
      ></p-splitButton>
    </div>
  <!-- </ng-template> -->

  <!-- <ng-template #end> -->
    <div class="pr-8 !mx-8 flex flex-row">
      <p class="!mt-2">{{user.name}}</p>
      <p-avatar
        [image]="user.image || 'default.png'"
        shape="circle"
        [style]="{ width: '40px', height: '40px' }"
        class="m-2 px-1"
      ></p-avatar>
    </div>
  </div>
  <!-- </ng-template> -->
<!-- </p-toolbar>    -->
