<div class="container mx-auto p-2 m-5">
  <h2 class="text-2xl font-semibold text-gray-800">Insert New Product:</h2>

  <form (ngSubmit)="addNewProduct()" [formGroup]="prodForm" #Form="ngForm">

    <!-- name section -->
    <div class="card grid grid-cols-1 md:grid-cols-1 gap-4 py-4">
      <p-fluid class="card flex flex-wrap gap-4">
        <div class="flex-auto">
          <label class="mb-2 block font-bold" for="stacked">
            Brand :
          </label>
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-box"></i>
            </p-inputgroup-addon>
            <input pInputText placeholder="Brand" formControlName="brand" [ngClass]="{
                                'is-invalid':(brand?.touched||brand?.dirty)&&brand?.invalid ,
                                'is-valid':(brand?.valid)
                            }" />
          </p-inputgroup>
        </div>

      </p-fluid>
    </div>

    <!-- category section & subCategoery -->
    <div class="card grid grid-cols-1 md:grid-cols-1 gap-4 py-4">
      <p-fluid class="card flex flex-wrap gap-4">
        <div class="flex-auto">
          <p-float-label class="mb-2 block font-bold" for="stacked">
            Categories :
          </p-float-label>

          <div class="card flex flex-col md:items-end md:flex-row gap-4">
            <p-inputgroup>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class=" pi pi-map"></i>
                </p-inputgroup-addon>
                <div class="card flex justify-center">
                  <p-select [options]="category" [(ngModel)]="categoryId" optionValue="_id"  optionLabel="name.en" placeholder="Select a category" class="w-full md:w-56"
                (onChange)="onCategoryChange($event)" 
                  />
              </div>
              </p-inputgroup>
            </p-inputgroup>

            <p-inputgroup>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class=" pi pi-map"></i>
                </p-inputgroup-addon>
                <div class="card flex justify-center">
                  <p-select [options]="filteredSubcategories" [(ngModel)]="subcategoryId" optionValue="_id"  optionLabel="name" placeholder="Select a subcategory" class="w-full md:w-56"
                (onChange)="onSubcategoryChange($event)" 
                  />
              </div>
              </p-inputgroup>
            </p-inputgroup>
          </div>
        </div>
      </p-fluid>
    </div>

    <!-- code section & inStock -->
    <div class="card grid grid-cols-1 md:grid-cols-1 gap-4 py-4">
        <p-fluid class="card flex flex-wrap gap-4">
                <div class="flex-auto">
            <label class="mb-2 block font-bold" for="stacked">
              In Stock :
            </label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-box"></i>
              </p-inputgroup-addon>
              <p-inputnumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false" formControlName="inStock"
                [ngClass]="{
                                'is-invalid':(inStock?.touched||inStock?.dirty)&&inStock?.invalid ,
                                'is-valid':(inStock?.valid)
                            }" />

            </p-inputgroup>
          </div>
        </p-fluid>
      </div>

    <!-- main image section -->
    <div class="card grid grid-cols-1 md:grid-cols-1 gap-4 py-4">
        <div class="card">
          <p-toast />
          <label class="mb-2 block font-bold" for="stacked">
            Main Image :
          </label>
          <p-fileupload name="image" [customUpload]="true" (onSelect)="onSelectMainImage($event)" accept="image/*" maxFileSize="1000000" mode="basic">
            <ng-template pTemplate="empty">
              <div>Drag and drop file to here to upload.</div>
            </ng-template>
          </p-fileupload>
          <div *ngIf="mainImageUrl">
            <img [src]="mainImageUrl" style="max-width: 200px;">
          </div>
          <div *ngIf="prodForm.get('image')?.invalid && prodForm.get('image')?.touched">
            <small class="p-error" *ngIf="image?.errors?.['required']">Main Image is required.</small>
            <small class="p-error" *ngIf="image?.errors?.['pattern']">Invalid image URL.</small>
          </div>
        </div>
      </div>

    <!-- name section -->
    <div class="card grid grid-cols-1 md:grid-cols-1 gap-4 py-4">
        <p-fluid class="card flex flex-wrap gap-4">
          <div class="flex-auto">
            <label class="mb-2 block font-bold" for="stacked">
              Name (EN) :
            </label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-box"></i>
              </p-inputgroup-addon>
              <input pInputText placeholder="Name (EN)" formControlName="nameEN" [ngClass]="{
                                'is-invalid':(nameEN?.touched||nameEN?.dirty)&&nameEN?.invalid ,
                                'is-valid':(nameEN?.valid)
                            }" />
            </p-inputgroup>
          </div>

          <div class="flex-auto">
            <label class="mb-2 block font-bold" for="stacked">
              Name (AR) :
            </label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-box"></i>
              </p-inputgroup-addon>
              <input pInputText placeholder="Name (AR)" formControlName="nameAR" [ngClass]="{
                                'is-invalid':(nameAR?.touched||nameAR?.dirty)&&nameAR?.invalid ,
                                'is-valid':(nameAR?.valid)
                            }" />
            </p-inputgroup>
          </div>

        </p-fluid>
      </div>

    <!-- images section -->
    <div class="card grid grid-cols-1 md:grid-cols-1 gap-4 py-4">
        <div class="card">
          <p-toast />
          <label class="mb-2 block font-bold" for="stacked">
            Images :
          </label>
          <p-fileupload name="images[]" [customUpload]="true" (onSelect)="onSelectImages($event)" [multiple]="true" accept="image/*" maxFileSize="1000000" mode="advanced">
            <ng-template pTemplate="empty">
              <div>Drag and drop files to here to upload.</div>
            </ng-template>
            <ng-template pTemplate="content">
              <ul *ngIf="imageUrls.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
              </ul>
            </ng-template>
          </p-fileupload>
          <div *ngIf="images?.invalid && (images?.touched || images?.dirty)">
            <small class="p-error" *ngIf="images?.errors?.['required']">At least one image is required.</small>
          </div>
        </div>
      </div>


    <!-- price section -->
    <div class="card grid grid-cols-1 md:grid-cols-1 gap-4 py-4">
        <p-fluid class="card flex flex-wrap gap-4">
          <div class="flex-auto">
            <label class="mb-2 block font-bold" for="stacked">
              Price
            </label>
            <p-inputnumber [showButtons]="true" inputId="stacked" mode="currency" currency="USD" formControlName="price"
              [ngClass]="{
                            'is-invalid':(price?.touched||price?.dirty)&&price?.invalid ,
                            'is-valid':(price?.valid)
                        }" />
          </div>

          <div class="flex-auto">
            <label class="mb-2 block font-bold" for="stacked">
              Discount %
            </label>
            <p-inputnumber inputId="percent" prefix="%" formControlName="discount" [ngClass]="{
                            'is-invalid':(discount?.touched||discount?.dirty)&&discount?.invalid ,
                            'is-valid':(discount?.valid)
                        }" />
          </div>

          <div class="flex-auto">
            <label class="mb-2 block font-bold" for="stacked">
              Discount Price
            </label>
            <p-inputnumber [showButtons]="true" inputId="stacked" mode="currency" currency="USD" [disabled]="true"
              formControlName="discountPrice" [ngClass]="{
                            'is-invalid':(discountPrice?.touched||discountPrice?.dirty)&&discountPrice?.invalid ,
                            'is-valid':(discountPrice?.valid)
                        }" />
          </div>
        </p-fluid>

      </div>


    <!-- color en & ar section -->
    <div class="card grid grid-cols-1 md:grid-cols-1 gap-4 py-4">
        <p-fluid class="card flex flex-wrap gap-4">
          <div class="flex-auto">
            <label class="mb-2 block font-bold" for="stacked">
              Color (EN) :
            </label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-palette"></i>
              </p-inputgroup-addon>
              <input pInputText placeholder="Color (EN)" formControlName="colorEN" [ngClass]="{
                                'is-invalid':(colorEN?.touched||colorEN?.dirty)&&colorEN?.invalid ,
                                'is-valid':(colorEN?.valid)
                            }" />
            </p-inputgroup>
          </div>

          <div class="flex-auto">
            <label class="mb-2 block font-bold" for="stacked">
              Color (AR):
            </label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-palette"></i>
              </p-inputgroup-addon>
              <input pInputText placeholder="Color (AR)" formControlName="colorAR" [ngClass]="{
                                'is-invalid':(colorAR?.touched||colorAR?.dirty)&&colorAR?.invalid ,
                                'is-valid':(colorAR?.valid)
                            }" />
            </p-inputgroup>
          </div>
        </p-fluid>
      </div>





    <!-- Description en & ar -->
    <div class="card grid grid-cols-2 md:grid-cols-1 gap-4 py-4">
        <p-fluid class="card flex flex-wrap gap-4">
          <div class="flex-auto">
            <label class="mb-2 block font-bold" for="stacked">
              Description :
            </label>
            <div class="card flex flex-col md:items-end md:flex-row gap-4">
              <div class="card flex flex-wrap justify-center items-stretch gap-4">
                <p-floatlabel variant="on">
                  <textarea pTextarea id="over_label" rows="5" cols="54" style="resize: none" class="h-full "
                    formControlName="DescriptionEN" [ngClass]="{
                                        'is-invalid':(DescriptionEN?.touched||DescriptionEN?.dirty)&&DescriptionEN?.invalid ,
                                        'is-valid':(DescriptionEN?.valid)
                                    }"></textarea>
                  <label for="on_label">Description (EN)</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                  <textarea pTextarea id="over_label" rows="5" cols="54" style="resize: none" class="h-full"
                    formControlName="DescriptionAR" [ngClass]="{
                                        'is-invalid':(DescriptionAR?.touched||DescriptionAR?.dirty)&&DescriptionAR?.invalid ,
                                        'is-valid':(DescriptionAR?.valid)
                                    }"></textarea>
                  <label for="on_label">Description (AR)</label>
                </p-floatlabel>
              </div>
            </div>
          </div>
        </p-fluid>
      </div>


    <!-- Material en & ar section -->
    <div class="card grid grid-cols-1 md:grid-cols-1 gap-4 py-4">

        <div class="flex-auto">
          <p-float-label class=" block font-bold" for="stacked">
            Material :
          </p-float-label>
        </div>

        <p-fluid class="card flex flex-wrap gap-4">
          <div class="flex-auto">
            <p-inputgroup class="flex-auto">
              <p-inputgroup>
                <!-- <p-inputgroup-addon>
                  <i class=" pi pi-info-circle"></i>
                </p-inputgroup-addon> -->
                <p-floatlabel variant="on">
                  <input pInputText id="on_label" autocomplete="off" formControlName="materialEN" [ngClass]="{
                                        'is-invalid':(materialEN?.touched||materialEN?.dirty)&&materialEN?.invalid ,
                                        'is-valid':(materialEN?.valid)
                                    }" />
                  <label for="on_label">Material (EN)</label>
                </p-floatlabel>
              </p-inputgroup>
            </p-inputgroup>
          </div>

          <div class="flex-auto">
            <p-inputgroup class="flex-auto">
              <p-inputgroup>
                <!-- <p-inputgroup-addon>
                  <i class=" pi pi-info-circle"></i>
                </p-inputgroup-addon> -->
                <p-floatlabel variant="on">
                  <input pInputText id="on_label" autocomplete="off" formControlName="materialAR" [ngClass]="{
                                        'is-invalid':(materialAR?.touched||materialAR?.dirty)&&materialAR?.invalid ,
                                        'is-valid':(materialAR?.valid)
                                    }" />
                  <label for="on_label">Material (AR)</label>
                </p-floatlabel>
              </p-inputgroup>
            </p-inputgroup>
          </div>
        </p-fluid>
      </div>



    <button pButton type="submit" icon="pi pi-plus" label="Add Product" class="p-button-success"></button>
  </form>
</div>
