.card {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 12px;
  }
  
  .field label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  input, select {
    width: 100%;
  }
  .formParent{
    position: absolute;
    top: 15%;
    left: 60%;
    transform: translateY(-15%);
    transform: translateX(-60%);
    /* width: 700px;
    height: 500px; */
  }
  .container{
    padding: 30px;
    width: 700px;
    height: 650px;
  }
  .containerImage{
    margin-block: 10px;
    padding-block: 20px;
  }
  