/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}
body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode .p-toolbar {
  background-color: #1f1f1f !important;
}

body.dark-mode .p-button {
  color: white;
}

.header {
  margin: 0;
  padding: 0;
}
.pi-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}
